<section class="about">
  <h2 class="about__title">Lorem, ipsum dolor.</h2>
  <ul class="about__list">
    <li class="about__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime amet iste dolor fugit voluptate dignissimos ex quam perferendis alias numquam explicabo, accusantium at eveniet dolores aperiam qui nostrum ipsum voluptatum.</li>
    <li class="about__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime amet iste dolor fugit voluptate dignissimos ex quam perferendis alias numquam explicabo, accusantium at eveniet dolores aperiam qui nostrum ipsum voluptatum.</li>
  </ul>
</section>
