<section class="product">
    <h2 class="product__title">Lorem, ipsum.</h2>
    <p class="product__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam officiis qui ex officia at deserunt quos quis. Qui laboriosam numquam error cum repellendus sed rerum est sapiente consectetur similique.</p>
    <p class="product__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam officiis qui ex officia at deserunt quos quis. Qui laboriosam numquam error cum repellendus sed rerum est sapiente consectetur similique.</p>
    <p class="product__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam officiis qui ex officia at deserunt quos quis. Qui laboriosam numquam error cum repellendus sed rerum est sapiente consectetur similique.</p>
    <p class="product__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam officiis qui ex officia at deserunt quos quis. Qui laboriosam numquam error cum repellendus sed rerum est sapiente consectetur similique.</p>

</section>