<!-- <div class="swiper">

  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <img src="./images/cat1.jpg" alt="cat" />
    </div>
    <div class="swiper-slide">
      <img src="./images/cat2.jpg" alt="cat" />
    </div>
    <div class="swiper-slide">
      <img src="./images/cat3.jpg" alt="cat" />
    </div>
    ...
  </div> 


  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
-->

<!-- <div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="./images/cat1.jpg" alt="cat" /></div>
    <div class="swiper-slide"><img src="./images/cat2.jpg" alt="cat" /></div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 4</div>
    <div class="swiper-slide">Slide 5</div>
    <div class="swiper-slide">Slide 6</div>
    <div class="swiper-slide">Slide 7</div>
    <div class="swiper-slide">Slide 8</div>
    <div class="swiper-slide">Slide 9</div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div> -->

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
